fastapi
uvicorn
python-dotenv
openai
chromadb
requests
psycopg2-binary
python-multipart
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
python-dateutil
pydantic
bcrypt
python-jose
cloudinary
rapidfuzz
pandas
openpyxl
pydantic[email]
email-validator
redis
httpx
pytz
phonenumbers